body{
	background-color: #F5F5F5;
}
header{
	width: 100%;
	height: 90px;
	background-color: #202846;
	display: flex;
}
.content{
	margin: 8px 63px 7px 138px;
}
.HeaderLink{
	width: 178.45px;
	height: 70px;
}
.fourOfAll{
	margin-top: -52px;
	margin-left: 293px;
	position: absolute;
}
.fourOfAll a{
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	text-decoration: none;
	color:white;
}
.fourOfAll a:hover{
	text-decoration: underline;
}
.first-link{
	margin-right: 54px;
}
.second-link{
	margin-right: 54px;
}
.third-link{
	margin-right: 54px;
}
.forth-link{
	margin-right: 54px;
}
.endList{
	width: 170px;
	margin-top: -90px;
	margin-left: 977px;
	position: absolute;
}
.endList a{
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	text-decoration: none;
	color:white;
	text-align: center;
}
.endList a:hover{
	text-decoration: underline;
}
.TranslateBlock{
	margin-left: 1211px;
	margin-top: -50px;
	display: flex;
	position: absolute;
}
.TranslateBlock img{
	margin-top: -25px;
	max-width: 75px;
}
.TranslateBlock p{
	margin: 0;
	margin-left: 15px;
	color:white;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
}
/*End of header block*/
.Contacts {
	width: 100%;
	height: 140px;
	background-color: #C6C6DC;
}
.Contacts p{
	font-family: 'PT Sans', sans-serif;
	font-size: 48px;
	font-style: italic;
	color: #202846;
	margin: 0;
	margin-left: 216px;
	margin-right: 216px;
	padding-top: 50px;
}
.ThreeOfThem{
	width: 1000px;
	display: flex;
	margin: 0 auto;
}
.telefon{
	height: 168px;
	width: 251px;
	margin-right: 125px;
	margin-top: 64px;
}
.telefon p{
	font-family: 'PT Sans', sans-serif;
	font-size: 32px;
	margin-bottom: 5px;
}
.hr{
	background-color: black;
	width: 100%;
	height: 2px;
}
.telefon .text{
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	margin-top: 5px;
}
.shedule{
	height: 168px;
	width: 251px;
	margin-right: 125px;
	margin-top: 64px;
}
.shedule p{
	font-family: 'PT Sans', sans-serif;
	font-size: 32px;
	margin-bottom: 5px;
}
.shedule .text{
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	margin-top: 5px;
	text-align: center;
}
.mail{
	height: 168px;
	width: 251px;
	margin-top: 64px;
}
.mail p{
	font-family: 'PT Sans', sans-serif;
	font-size: 32px;
	margin-bottom: 5px;
}
.mail .text{
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	margin-top: 5px;
}
.TwoOfThem{
	width: 1000px;
	display: flex;
	margin: 0 auto;
}
.adress{
	height: 168px;
	width: 380px;
	margin-top: 64px;
	margin-right: 180px;
}
.adress p{
	font-family: 'PT Sans', sans-serif;
	font-size: 32px;
	margin-bottom: 5px;
}
.adress .text{
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	margin-top: 5px;
}
iframe{
	height: 168px;
	width: 380px;
	margin-top: 64px;
}
/*Footer*/
footer{
	width: 100%;
	height: 90px;
	background-color: #202846;
}
footer p{
	font-family: 'PT Sans', sans-serif;
	font-size: 36px;
	font-style: italic;
	color: white;
	margin-left: 116px;
	padding-top: 21px;
}