body{
	background-color: #F5F5F5;
}
header{
	width: 100%;
	height: 90px;
	background-color: #202846;
	display: flex;
}
.content{
	margin: 8px 63px 7px 138px;
}
.HeaderLink{
	width: 178.45px;
	height: 70px;
}
.fourOfAll{
	margin-top: -52px;
	margin-left: 293px;
	position: absolute;
}
.fourOfAll a{
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	text-decoration: none;
	color:white;
}
.fourOfAll a:hover{
	text-decoration: underline;
}
.first-link{
	margin-right: 54px;
}
.second-link{
	margin-right: 54px;
}
.third-link{
	margin-right: 54px;
}
.forth-link{
	margin-right: 54px;
}
.endList{
	width: 170px;
	margin-top: -90px;
	margin-left: 977px;
	position: absolute;
}
.endList a{
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	text-decoration: none;
	color:white;
	text-align: center;
}
.endList a:hover{
	text-decoration: underline;
}
.TranslateBlock{
	margin-left: 1211px;
	margin-top: -50px;
	display: flex;
	position: absolute;
}
.TranslateBlock img{
	margin-top: -25px;
	max-width: 75px;
}
.TranslateBlock p{
	margin: 0;
	margin-left: 15px;
	color:white;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
}
/*End of header block*/
.PersO {
	width: 100%;
	height: 140px;
	background-color: #C6C6DC;
}
.PersO p{
	font-family: 'PT Sans', sans-serif;
	font-size: 48px;
	font-style: italic;
	color: #202846;
	margin: 0;
	margin-left: 216px;
	margin-right: 216px;
	padding-top: 50px;
}
.personalInfo{
	width: 1030px;
	height: 400px;
	background-color: #BDBDC6;
	margin: 41px auto;

}
.photoBlock{
	width: 390px;
	height: 100%;
}
.photoBlock img{
	margin-top: 15px;
	margin: 15px 98px;
	margin-bottom: 38px;
}
/*.photoBlock:nth-child(2){
	width: 250px;
	height: 50px;
	margin-left: 75px;
	margin-bottom: 22px;
	border: none;
	border-radius: 25px;
	background-color: #69749B;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	color: white;
}*/
.photoBlock .changes{
	width: 250px;
	height: 50px;
	margin-left: 75px;
	margin-bottom: 22px;
	border: none;
	border-radius: 25px;
	background-color: #69749B;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	color: white;
}
.photoBlock .changes:hover{
	background-color: #565f7e;
}
.photoBlock .settings{
	width: 250px;
	height: 50px;
	margin-left: 75px;
	border: none;
	border-radius: 25px;
	background-color: #484A54;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	color: white;
}
.photoBlock .settings:hover{
	background-color: #373840;
}
.allInfo{
	position: absolute;
	top: 290px;
	left: 640px;
	width: 620px;
	font-family: 'PT Sans', sans-serif;
	font-size: 36px;
	font-weight: bold;
	font-style: italic;
	line-height: 70px;
	color: #353C57;
}
.lower{
	font-family: 'PT Sans', sans-serif;
	font-size: 36px;
	font-weight: 400;
	font-style: italic;
}
.hr{
	background-color: #FFFFFF;
	width: 512px;
	height: 2px;
}

/*Footer*/
footer{
	width: 100%;
	height: 90px;
	background-color: #202846;
}
footer p{
	font-family: 'PT Sans', sans-serif;
	font-size: 36px;
	font-style: italic;
	color: white;
	margin-left: 116px;
	padding-top: 21px;
}