body{
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Rosario', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 10px;
	--font-white: #FFFCFC;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
	padding: 0;
	margin: 0;
}

/*header*/
header{
	background-color: #000;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 3;
}
header img{
	height: 100px;
}
nav{
	width: 60%;
	display: flex;
	justify-content: space-around;
}
nav a{
	font-size: 2.6em;
	line-height: 4.4em;
	color: var(--font-white);
}
nav a:hover{
	text-decoration: underline;
}
/*End of header*/

/*main*/
/*first-screen*/
.first-screen{
	display: flex;
	justify-content: space-around;
	padding: 10px 43px;
	align-items: center;
}
.left-photo{
	width: 20%;
	text-align: center;
	position: relative;
	animation: leftAnimation 7s ease 1;
	transition: all 7s ease;
}
.left-photo img{
	width: 100%;
}
.central-photos{
	display: flex;
	justify-content: space-around;
	width: 50%;
}
.size-central-photos{
	width: 100%;
	padding-bottom: 22px;
}
.central-left-group{	
	padding-right: 7.5px;
}
.central-left-group img:first-child{
	position: relative;
	animation: leftAnimation 4s ease 1;
}
.central-left-group img:last-child{
	position: relative;
	animation: leftAnimation 5s ease 1;
}
.central-right-group{
	padding-left: 7.5px;
}
.central-right-group img:first-child{
	position: relative;
	animation: rightAnimation 4s ease 1;
}
.central-right-group img:last-child{
	position: relative;
	animation: rightAnimation 5s ease 1;
}
.right-photo{
	width: 20%;
	text-align: center;
	position: relative;
	animation: rightAnimation 7s ease 1;
	transition: all 7s ease;
}
.right-photo img{
	width: 100%;
}
@keyframes leftAnimation{
	from,
	to{
		left: -200vh;
		filter: opacity(25%);
	}
	100%{
		left: 0;
		filter: opacity(100%);
	}
}
@keyframes rightAnimation{
	from,
	to{
		left: 200vh;
		filter: opacity(25%);
	}
	100%{
		left: 0;
		filter: opacity(100%);
	}
}
/*End of first-screen*/

/*second-screen*/
.second-screen{
	display: flex;
	justify-content: right;
	align-items: center;
}
.first-complection{
	position: relative;
	animation: firstComplection 10s ease infinite;
	overflow: hidden;
	text-align: center;
	font-size: 3em;
	padding: 20px;
}
@keyframes firstComplection{
	from,
	to{
		left: 0;
		top: 0;
	}
	25%{
		left: 0;
		top: 335px;
	}
	50%{
		left: 380px;
		top: 335px;
	}
	75%{
		left: 380px;
		top: 0;
	}
}
.second-complection{
	position: relative;
	animation: secondComplection 10s ease infinite;
	text-align: center;
	font-size: 3em;
	padding: 20px;
}
@keyframes secondComplection{
	from,
	to{
		left: 0;
		top: 0;
	}
	25%{
		left: 380px;
		top: 0;
	}
	50%{
		left: 380px;
		top: -335px;
	}
	75%{
		left: 0;
		top: -335px;
	}
}
.third-complection{
	position: relative;
	animation: thirdComplection 10s ease infinite;
	text-align: center;
	font-size: 3em;
	padding: 20px;
}
@keyframes thirdComplection{
	from,
	to{
		left: 0;
		top: 0;
	}
	25%{
		left: -380px;
		top: 0;
	}
	50%{
		left: -380px;
		top: 335px;
	}
	75%{
		left: 0;
		top: 335px;
	}
}
.fourth-complection{
	position: relative;
	animation: fourthComplection 10s ease infinite;
	text-align: center;
	font-size: 3em;
	padding: 20px;
}
@keyframes fourthComplection{
	from,
	to{
		left: 0;
		top: 0;
	}
	25%{
		left: 0;
		top: -335px;
	}
	50%{
		left: -380px;
		top: -335px;
	}
	75%{
		left: -380px;
		top: 0;
	}
}
.first-complection img,
.second-complection img, 
.third-complection img, 
.fourth-complection img{
	width: 250px;
}
.circular-motion{
	display: flex;
	justify-content: space-around;
	width: 50%;
}
.second-screen-main-photo{
	text-align: right;
	width: 50%;
}
/*End of second-screen*/

/*third-screen*/
.third-screen{
	padding-top: 20px;
}
.title{
	font-size: 8.6em;
	line-height: 116px;
	text-align: center;
	padding-bottom: 20px;
}
.photos-block{
	display: flex;
	justify-content: space-around;
}
.photos-block div{
	position: relative;
	width: 350px;
	height: 585px;
	border-radius: 40px;
}
.photos-block div p{
	position: absolute;
	bottom: 0;
	font-family: 'Volkhov';
	font-weight: 400;
	font-size: 48px;
	color: white;

	width: 350px;
	margin: 0;
	background-color: #A3530A;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	text-align: center;
	opacity: 70%;
	height: 0;
	overflow: hidden;
	transition: all .5s ease-in-out;
}
.photos-block div{
	filter: opacity(1);
	transition: all .5s ease-in;
}
/*Meredith*/
.meredith:hover + .jason{
	background-image: url('../img/dark-jason.png');
}
.meredith:hover + .jason + .ryan{
	background-image: url('../img/dark-ryan.png');
}
.meredith:hover + .jason + .ryan + .james{
	background-image: url('../img/dark-james.png');
}
/*jason*/
.jason:hover + .ryan{
	background-image: url('../img/dark-ryan.png');
}
.jason:hover + .ryan + .james{
	background-image: url('../img/dark-james.png');
}
/*ryan*/
.ryan:hover + .james{
	background-image: url('../img/dark-james.png');
}

.meredith{
	background-image: url('../img/first-expert.png');
}
.jason{
	background-image: url('../img/second-expert.png');
	transition: all .5s ease-in;
}
.ryan{
	background-image: url('../img/third-expert.png');
}
.james{
	background-image: url('../img/fourth-expert.png');
}
.meredith:hover p, .jason:hover p, .ryan:hover p, .james:hover p{
	height: 150px;
	padding-top: 50px;
}
/*End of third-screen*/

/*fourth-screen*/
.fourth-screen{
	margin: 50px 0;
}
.input-block{
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.input{
	width: 50%;
}
.input .title{
	font-size: 5.4em;
	line-height: 78px;
	width: 645px;
}
form{
	background-color: #E5E5E5;
	height: 300px;
	padding: 20px;
}
.inline{
	display: flex;
	justify-content: space-between;
}
input[type^="name"]{
	width: 47%;
	height: 80px;
	border: none;
	font-size: 3.6em;
	line-height: 44px;
}
input[type^="mail"]{
	width: 47%;
	height: 80px;
	border: none;
	font-size: 3.6em;
	line-height: 44px;
}
textarea[type^="text"]{
	width: 99%;
	margin-top: 10px;
	height: 200px;
	border: none;
	font-size: 3.6em;
	line-height: 44px;
	transform-origin: top;
	resize: none;
}
.map{
	width: 50%;
	height: 275px;
	text-align: right;
	padding-top: 63px;
}
/*End of fourth-screen*/
/*End of main*/

/*footer*/
.three-blocks{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	height: 236px;
	font-size: 30px;
	line-height: 36px;
	text-align: center
}
.contacts a{
	color: black;
}
.contacts a:hover{
	text-decoration: underline;
}
ul{
	text-align: center;
}
li{
	text-align: left;
}
li a{
	color: black;
}
li a:hover{
	text-decoration: underline;
}
li a img{
	margin-right: 15px;
}
/*End of footer*/