html{
	background-color: #1F1F1F;
	color: white;
}
#box{
	width: 400px;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.636);
	color: black;
}
#button{
	margin: 20px;
}
#positionChangeDiv{
	width: 100px;
	height: 100px;
	background-color: rgba(11, 126, 69, 0.636);
	position: relative;
}